<div class="sb-social load sb-top sb-center networks-4">
  <ul>
    <li onclick="return false;" class="pinterest" data-network="pinterest"><a></a></li>
    <li onclick="return false;" class="twitter" data-network="twitter"><a></a></li>
    <li onclick="return false;" class="facebook" data-network="facebook"><a></a></li>
    <li onclick="return false;" class="whatsapp" data-network="whatsapp"><a></a></li>
    <li onclick="return false;" class="googlePlus" data-network="googlePlus"><a></a></li>
    <li onclick="return false;" class="reddit" data-network="reddit"><a></a></li>
    <li onclick="return false;" class="linkedin" data-network="linkedin"><a></a></li>
    <li class="email" data-network="email"><a></a></li>
  </ul>
</div>
